<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body style="background-color: white;">
  <%- include('./partials/_navbar.ejs') %>
  
  <div class="center-container">
    <img src="/bookclub-logo.png" alt="Bookclub Logo" class="logo-image">
    <h1>Welcome to the Bookclub</h1>
  </div>
  
  <!-- Banner Image -->
  <div class="banner-container">
    <img src="/BookBanner.png" alt="Bookclub Banner" class="banner-image">
  </div>
</body>
</html>
